{% load staticfiles %}


<!-- HEAD CSS -->

{# BOOTSTRAP #}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

{# FONT-AWESOME #}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{# CUSTOM STYLE #}
<link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


<!-- HEAD JS -->
{# JQUERY #}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

{# GOOGLE CHARTS #}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
