{% extends "base.html" %}
{% block content %}

    {% if students %}
        <div id="chart1_div"></div>
        <script type="text/javascript">
            function drawChart1() {

                var data = new google.visualization.arrayToDataTable([
                    [
                        'Grade',
                        'Blackboard Time', {'type': 'string', 'role': 'style'},
                        'Casper Time', {'type': 'string', 'role': 'style'}
                    ],
                    {% for student in students %}

                        [
                            {{ student.average_grade }},
                            {{ student.blackboard_total_time_spent }},
                            {% if student == this_student %}'point { size: 18 }',
                                {% else %}null,
                            {% endif %}
                            {{ student.casper_total_time_spent }},
                            {% if student == this_student %}'point { size: 18 }',
                                {% else %}null,
                            {% endif %}
                        ],
                    {% endfor %}
                ]);

                var options = {
                    title: 'Academic activities vs Grades',
                    hAxis: {title: 'Grade'},
                    vAxis: {title: 'Time Spent'}
                };

                var chart = new google.visualization.ScatterChart(document.getElementById('chart1_div'));

                chart.draw(data, options);
            }
        </script>
    {% else %}
        None
    {% endif %}



{% endblock %}
